.header {
  background: linear-gradient(90deg, #F87528 0%, #FF9100 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.5rem;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.home-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: opacity 0.3s ease;
}

.home-link:hover {
  opacity: 0.8;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.user-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-logo {
  width: 45px;       /* ajustá según el tamaño que quieras */
  height: 45px;
  object-fit: contain; /* mantiene proporciones del SVG */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.user-logo:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* efecto hover opcional */
}

