<!-- modal de confirmacion de seleccion de evento sismico -->
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ titulo }}</h5>
      <button type="button" class="btn-close" (click)="onCancelar()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>{{ mensaje }}</p>
      @if (mensajeAdicional) {
        <p class="modal-warning"><small>{{ mensajeAdicional }}</small></p>
      }
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onCancelar()">Cancelar</button>
      <button type="button" class="btn btn-primary ms-3" (click)="onConfirmar()">Confirmar</button>
    </div>
  </div>
</div>